langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4
langchain-openai==0.1.22
langchain-groq==0.1.5
langchain-chroma==0.1.2
langchain-huggingface==0.0.3

chromadb==0.4.24

streamlit
python-dotenv
pypdf
faiss-cpu
sentence-transformers
